body {
  margin: 0;
}

.page {
  min-height: 100vh;
  display: inline-block;
}

.topNav {
  display: flex;
  align-items: center;
  height: 75px;
  width: 100%;
  background-image: linear-gradient(rgba(6, 9, 20, 0.921), rgba(6, 9, 20, 0.63), rgba(255, 255, 0, 0));
  position: fixed;
  font-size: x-large;
  color: #ffffff;
  
}

.logo {
  width: 50px;
  margin-left: 10%;
}

.socialButtons {
  display: flex;
  gap: 15px;
  margin-left: 50px;
  color: #ffffff;

}
.socialButtons:hover {
  size: 10%;

}

.titusPersons {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: large;
  margin-left: 5px;
}


.hero {
  height: 100vh;
  width: 100%;
  position: static;
  background-image: radial-gradient(rgb(10, 151, 202), #023E7D, #001233);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 100px;
  color: #ffffff;
  font-family: sans-serif;
}

.content {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: flex-start;
  align-content: flex-start;
  padding: 75px;
  

}

.content {
  background-image: linear-gradient(rgb(0, 0, 0), #0466C8);
  background-repeat: no-repeat;
  background-size: cover;
}

.projectLink {
  height: 200px;
  width: 200px;
  border-radius: 20px;
  transition: box-shadow 0.2s ease-in-out;
  cursor: pointer;
}

.projectLink:hover {
  box-shadow: 0 0 50px rgb(0, 145, 255);
  background-color: #ffffff;
}

.content img {
  height: 200px;
  width: 200px;
  border-radius: 20px;
  transition: box-shadow 0.2s ease-in-out;
  cursor: pointer;
}

.content img:hover {
  box-shadow: 0 0 50px rgb(0, 145, 255);
  background-color: #ffffff;
}
/* .projectLink1 {
  padding-bottom: 15%;
  width: 20%;
  max-width: 250px;
  max-height: 250px;
  position: absolute;
  left: 15%;
  top: 5%;
  border-radius: 20px;
  transition: box-shadow 0.1s ease-in-out;
}

.projectLink2 {
  padding-bottom: 15%;
  max-width: 250px;
  max-height: 250px;
  width: 20%;
  position: absolute;
  left: 40%;
  top: 5%;
  border-radius: 20px;
  transition: box-shadow 0.1s ease-in-out;
}

.projectLink3 {
  padding-bottom: 15%;
  max-width: 250px;
  max-height: 250px;
  width: 20%;
  position: absolute;
  left: 65%;
  top: 5%;
  border-radius: 20px;
  transition: box-shadow 0.1s ease-in-out;
}

.projectLink4 {
  padding-bottom: 15%;
  max-width: 250px;
  max-height: 250px;
  width: 20%;
  position: absolute;
  left: 15%;
  top: 40%;
  border-radius: 20px;
  transition: box-shadow 0.1s ease-in-out;
}

.projectLink5 {
  padding-bottom: 15%;
  max-width: 250px;
  max-height: 250px;
  width: 20%;
  position: absolute;
  left: 40%;
  top: 40%;
  border-radius: 20px;
  transition: box-shadow 0.1s ease-in-out;
}

.projectLink6 {
  padding-bottom: 15%;
  max-width: 250px;
  max-height: 250px;
  width: 20%;
  position: absolute;
  left: 65%;
  top: 40%;
  border-radius: 20px;
  transition: box-shadow 0.1s ease-in-out;
}

.projectLink1:hover {
  box-shadow: 0 0 60px rgba(0, 145, 255, 0.5);
}

.projectLink2:hover {
  box-shadow: 0 0 60px rgba(0, 145, 255, 0.5);
}

.projectLink3:hover {
  box-shadow: 0 0 60px rgba(0, 145, 255, 0.5);
}

.projectLink4:hover {
  box-shadow: 0 0 60px rgba(0, 145, 255, 0.5);
}

.projectLink5:hover {
  box-shadow: 0 0 60px rgba(0, 145, 255, 0.5);
}

.projectLink6:hover {
  box-shadow: 0 0 60px rgba(0, 145, 255, 0.5);
} */